<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
    <div id="app">
        <div>
            <p>bitfinex API</p>
        </div>
        <div class="flex" style="width: 1000px; justify-content: space-between">
            <div class="coin-info">
                <div class="flex">
                    <h4>Symbol</h4>
                    <p id="symbol">{{coinMarketSymbol}}</p>
                </div>
                <div class="flex">
                    <h4>Price</h4>
                    <p id="price">{{coinMarketPrice}}</p>
                </div>
                <div class="flex">
                    <h4>Bitfinex Price</h4>
                    <div>
                        <span>Bid</span>
                        <span id="bid"></span>
                    </div>
                    <div>
                        <span>Ask</span>
                        <span id="ask"></span>
                    </div>
                </div>
            </div>
            <div>
                <button id="autotrade">Start Trading!</button>
            </div>
            <div class="parameter">
                <form id="submitform" @submit.prevent="postAjax">
                    <div>
                        <label for="apikey">APIKey</label>
                        <input type="text" name="apikey" v-model="postData[0].value" :disabled="run">
                        <p class="warning" :class="[postData[0].value == '' ? 'validate' : '']">Required!</p>
                    </div>
                    <div>
                        <label for="apisecret">APISecret</label>
                        <input type="text" name="apisecret" v-model="postData[1].value" :disabled="run">
                        <p class="warning" :class="[postData[1].value == '' ? 'validate' : '']">Required!</p>
                    </div>
                    <div>
                        <label for="percentage">difference</label>
                        <input type="number" name="percentage" v-model="postData[2].value" :disabled="run">
                        <p class="warning" :class="[postData[2].value == '' ? 'validate' : '']">Required!</p>
                    </div>
                    <div>
                        <label for="timer">timer</label>
                        <input type="number" name="timer" id="timer" :disabled="run" v-model="loop">
                    </div>
                    <div>
                        <input type="submit" id="submit" name="Submit" value="start">
                    </div>
                </form>
            </div>
        </div>

        <div class="positions"></div>
        <div>
            <!-- <button style="width:100px;height:100px" @click="testGet"></button> -->
        </div>
    </div>


    <script type="text/javascript" src="/libs/vuejs/vue.js"></script>
    <script type="text/javascript" src="/libs/axios/axios.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
</body>

</html>